{% extends "base.html" %}


{% block title %}首页{% endblock %}


{% block jscss %}
{% load staticfiles %}
<link href="{% static 'index/css/index.css' %}" rel="stylesheet" />
{% endblock %}


{% block headlist %}{% endblock %}


{% block header %}
<div class="announce">
    欢迎来到信息平台！
</div>
<div style="clear:both;"></div> <! 防止框溢出>
{% endblock %}


{% block content %}
<div class="content">

    <div class="box1">
        <div class="contenttop">
            新闻
        </div>

        <div class="imgbox">
            <img src="/static/{{news.0.pic}}" />
        </div>

        <div class="contentmid">
            <a href="ac/{{news.0.id}}">{{ news.0.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{news.1.id}}">{{ news.1.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{news.2.id}}">{{ news.2.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{news.3.id}}">{{ news.3.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{news.4.id}}">{{ news.4.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{news.5.id}}">{{ news.5.title }}</a>
        </div>

        <div class="contentbtm">
            更多
        </div>

    </div>

    <div class="box2">
        <div class="contenttop">
            活动
        </div>

        <div class="imgbox">
            <img src="/static/{{avtivity.0.pic}}" />
        </div>

        <div class="contentmid">
            <a href="ac/{{activity.0.id}}">{{ activity.0.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{activity.1.id}}">{{ activity.1.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{activity.2.id}}">{{ activity.2.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{activity.3.id}}">{{ activity.3.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{activity.4.id}}">{{ activity.4.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{activity.5.id}}">{{ activity.5.title }}</a>
        </div>

        <div class="contentbtm">
            更多
        </div>

    </div>

    <div class="box2">
        <div class="contenttop">
            信息
        </div>

        <div class="imgbox">
            <img src="/static/{{announce.0.pic}}" />
        </div>

        <div class="contentmid">
            <a href="ac/{{announce.0.id}}">{{ announce.0.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{announce.1.id}}">{{ announce.1.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{announce.2.id}}">{{ announce.2.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{announce.3.id}}">{{ announce.3.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{announce.4.id}}">{{ announce.4.title }}</a>
        </div>
        <div class="contentmid">
            <a href="ac/{{announce.5.id}}">{{ announce.5.title }}</a>
        </div>

        <div class="contentbtm">
            更多
        </div>
    </div>
    <div style="clear:both;"></div> <! 防止框溢出>
</div>

<div style="clear:both;"></div> <! 防止框溢出>
{% endblock %}
