{% extends "base.html" %}



{% block title %}看活动{% endblock %}


{% block jscss %}
{% load staticfiles %}
<link href="{% static 'activity/css/pushact.css' %}" rel="stylesheet" />
<link href="{% static 'activity/css/actcont.css' %}" rel="stylesheet" />
{% endblock %}


{% block headlist %}
<a href="javascript:1();" class="button1">活动1</a>
<a href="javascript:2();" class="button2">活动2</a>
<a href="javascript:3();" class="button3">活动3</a>
<a href="javascript:4();" class="button4">我的活动</a>
{% if ifLogin %}
<a href="javascript:4();" class="button4">发活动</a>
{%endif%}
{% endblock %}


{% block header %}

<div style="clear:both;"></div> <! 防止框溢出>

{% endblock %}


{% block content %}

<div class="textareac">
    <div class="title">
        {{activity.title|safe}}
    </div>

    <div class="duedate">
        截止于---{{activity.due_date.date.year|safe}}年{{activity.due_date.date.month|safe}}月{{activity.due_date.date.day|safe}}日
    </div>

    <div class="content">
        {{activity.content|safe}}
    </div>


    
    



</div>

<div style="clear:both;"></div> <! 防止框溢出>

{% endblock %}
