{% extends "base.html" %}



{% block title %}看活动{% endblock %}


{% block jscss %}
{% load staticfiles %}
<link href="{% static 'activity/css/pushact.css' %}" rel="stylesheet" />
{% endblock %}


{% block headlist %}
<a href="javascript:1();" class="button1">活动1</a>
<a href="javascript:2();" class="button2">活动2</a>
<a href="javascript:3();" class="button3">活动3</a>
<a href="javascript:4();" class="button4">我的活动</a>
{% if ifLogin %}
<a href="javascript:4();" class="button4">发活动</a>
{%endif%}
{% endblock %}


{% block header %}

<div style="clear:both;"></div> <! 防止框溢出>

<div class="textareap">
    {{activity.content|safe}}
</div>

<div style="clear:both;"></div> <! 防止框溢出>
{% endblock %}


{% block content %}

{% endblock %}
