{% extends "base.html" %}


{% block title %}活动列表{% endblock %}


{% block jscss %}
{% load staticfiles %}
<link href="{% static 'activity/css/list.css' %}" rel="stylesheet" />
{% load compress %}
    {% compress js inline %}
        <script src="{% static 'activity/js/rBool.js' %}"></script>
        <script src="{% static 'activity/js/getMore.js' %}"></script>
    {% endcompress %}
{% endblock %}


{% block headlist %}
<a href="javascript:1();" class="button1">活动1</a>
<a href="javascript:2();" class="button2">活动2</a>
<a href="javascript:3();" class="button3">活动3</a>
<a href="javascript:4();" class="button4">我的活动</a>
{% if ifLogin %}
<a href="javascript:4();" class="button4">发活动</a>
{%endif%}
{% endblock %}


{% block header %}
<div style="clear:both;"></div> <! 防止框溢出>
{% endblock %}


{% block content %}
<div style="clear:both;"></div> <! 防止框溢出>

<div class="floata">


    <div class="getMore">
        {% for item in activities %}
        <div class="floatb"><div class="imgbox"><img src="/media/{{ item.pic }}"/></div><div class="titbox">{{ item.title }}</div><div class="contbox">{{ item.summary }}</div><div class="morebox">...<a href="/ac/{{ item.id }}/">更多>></a></div></div>
        {% endfor %}
        <div id="list"></div>

        <div style="clear:both;"></div> <! 防止框溢出>

        <a href="javascript:getMore();" style="text-decoration: none;color:#FFF;">点击加载更多</a> <! 去掉下划线>


    </div>


    <div style="clear:both;"></div> <! 防止框溢出>

</div>
{% endblock %}

