<!doctype html>
<html>
<head>
{% load staticfiles %}
{{ form.media }}
<meta charset="utf-8">
<title>发活动</title>
<! jquery-UI>
<! jquery-UI>
<script src="{% static 'index/js/jquery-1.9.1.js' %}"></script>
<script src="{% static 'index/layer/layer.js' %}"></script>
<! css>
<link href="{% static 'index/css/main.css' %}" rel="stylesheet" />
<link href="{% static 'activity/css/pushact.css' %}" rel="stylesheet" />
<! js>
<script src="{% static 'index/js/dialog.js' %}"></script>
<! time>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">



<script>
    $(document).ready(function(){

        $("#id_title").attr("placeholder", "No more than 30 characters");
        $("#id_summary").attr("placeholder", "No more than 50 characters");
        $("#id_content").attr("placeholder", "Please write your content here");

    });
</script>

</head>

<body>

<div class="mainarea">

        <div class="header" >
        <div class="logo"></div>
		<a href="javascript:1();" class="button1">活动1</a>
        <a href="javascript:2();" class="button2">活动2</a>
        <a href="javascript:3();" class="button3">活动3</a>
        <a href="javascript:4();" class="button4">我的活动</a>
        {% if ifLogin %}
        <a href="javascript:4();" class="button4">发活动</a>
        {%endif%}

        {%if ifLogin%}
        <a href="\" class="buttoncu" >欢迎回来，{{name|safe}}</a>
        {%else%}
        <a href="javascript:dialoglgin();" class="buttonlg">登陆</a>
		<a href="javascript:dialogcu();" class="buttoncu">注册</a>
        {%endif%}


    	<div style="clear:both;"></div> <! 防止框溢出>
    	</div>
    	<div style="clear:both;"></div> <! 防止框溢出>
        <div class="textareap">
            <div class="ptitle">
                <label for="id_title">Title:</label>
                {{form.title}}
            </div>
            <div class="psum">
                <label for="id_summary">Summary:</label>
                {{form.summary}}
            </div>


            <div id="datetimepicker" class="input-append date" style="margin: 20px 0px;">
                <label for="id_due_date">Due Date:</label>
                {{form.due_date}}
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>

            </div>

            <script type="text/javascript"
                    src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
            </script>
            <script type="text/javascript"
                    src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
            </script>
            <script type="text/javascript"
                    src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
            </script>
            <script type="text/javascript"
                    src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
            </script>
            <script type="text/javascript">
                $('#datetimepicker').datetimepicker({
                    format: 'dd/MM/yyyy hh:mm:ss',
                    language: 'en'
                });
            </script>


            <div class="pcontent">
                <label for="id_content">Content:</label>
                {{form.content}}
            </div>

            <button type="submit">Submit</button>



        </div>
</div>




<div id="login" class="login">

	{% if form.errors %}
		<span class="tip" id="tip1"></span>
	{% endif %}

    <form action="" method="post">

         <div class="email1">
      	 <label for="email">邮箱:</label>
      	 <input type="text" name="email" id="email1"  class="textarea"/>
    	 </div>

   		 <div class="password1">
  	     <label for="password">密码:</label>
     	 <input type="password" name="password" id="password1" class="textarea" />
    	 </div>

   		 <div class="loginbtn">
              <img src="/static/index/pic/loginbtn.gif" onclick="submit();" />
    	 </div>

         <input type="hidden" name="next" value="{{ next|escape }}" />

	</form>

</div>


<div id="creatuser" class="creatuser">

    {% if form.errors %}
		<span class="tip" id="tip2"></span>
	{% endif %}

  <form action="" method="post">

    <div class="name">
      <label for="name">昵称:</label>
      <input type="text" name="name" id="name"  class="textarea"/>
    </div>

    <div class="email2">
      <label for="email">邮箱:</label>
      <input type="text" name="email" id="email2"  class="textarea"/>
    </div>

    <div class="password2">
      <label for="password">密码:</label>
      <input type="password" name="password" id="password2" class="textarea" />
    </div>

    <div class="cubtn">
        <img src="/static/index/pic/cubtn.gif" onclick="submit();" />
    </div>

  </form>
</div>



</body>
</html>
