{% extends "base.html" %}



{% block title %}社团{% endblock %}


{% block jscss %}


{% load staticfiles %}
<link href="{% static 'group/css/group.css' %}" rel="stylesheet" />

{% load compress %}
    {% compress js inline %}
        <script src="{% static 'activity/js/getMore.js' %}"></script>
    {% endcompress %}

{% endblock %}


{% block headlist %}
<a href="javascript:1();" class="button1">活动1</a>
<a href="javascript:2();" class="button2">活动2</a>
<a href="javascript:3();" class="button3">活动3</a>
<a href="javascript:4();" class="button4">我的活动</a>
{% if ifLogin %}
<a href="javascript:4();" class="button4">发活动</a>
{%endif%}
{% endblock %}


{% block header %}

<div style="clear:both;"></div> <! 防止框溢出>
<p>您现在的位置</p>
{% endblock %}


{% block content %}
<div class="contarea">
    <div class="actarea">
        <div class="getMore">
            <div class="floatb"><div class="imgbox">{{image}}</div><div class="titbox">{{title}}</div><div class="contbox">内容</div><div class="morebox">...更多>></div></div>
            <div class="floatb"><div class="imgbox">图片</div><div class="titbox">标题</div><div class="contbox">内容</div><div class="morebox">...更多>></div></div>
            <div class="floatb"><div class="imgbox">图片</div><div class="titbox">标题</div><div class="contbox">内容</div><div class="morebox">...更多>></div></div>
            <div class="floatb"><div class="imgbox">图片</div><div class="titbox">标题</div><div class="contbox">内容</div><div class="morebox">...更多>></div></div>
            <div class="floatb"><div class="imgbox">图片</div><div class="titbox">标题</div><div class="contbox">内容</div><div class="morebox">...更多>></div></div>
            <div class="floatb"><div class="imgbox">图片</div><div class="titbox">标题</div><div class="contbox">内容</div><div class="morebox">...更多>></div></div>
            <div id="list"></div>

            <div style="clear:both;"></div> <! 防止框溢出>

            <a href="javascript:getMore();" style="text-decoration: none;color:#FFF;">点击加载更多</a> <! 去掉下划线>


        </div>


        <div style="clear:both;"></div> <! 防止框溢出>
    </div>
    <div class="announcea">
        <div class="annouctitle">
            公告
        </div>
        <div class="annouccont">
            公告
        </div>
    </div>

    <div class="relative">
        <div class="annouctitle">
            链接
        </div>
    </div>
</div>

<div style="clear:both;"></div> <! 防止框溢出>

{% endblock %}